module.exports = function () {
    var instanceRoot = "C:\\Websites\\Aha.Poc";
    var config = {
        websiteRoot: instanceRoot + "\\Website",
        sitecoreLibraries: instanceRoot + "\\Website\\bin",
        licensePath: instanceRoot + "\\Data\\license.xml",
        solutionName: "Aha.Poc",
        buildConfiguration: "Debug",
        runCleanBuilds: false
    };
    return config;
}